*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:linear-gradient(135deg,#000305,#00f2fe);
}

.container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

h1{
  margin-bottom:20px;
  color:white;
}

input{
  width:300px;
  padding:12px;
  border:none;
  border-radius:5px;
  margin-bottom:15px;
  font-size:16px;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:5px;
  background:#0f0127;
  color:white;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#0b0253;
}

h2{
  margin-top:20px;
  color:white;
}